.post-card{
    width: 100%;
    background-color: rgba(173, 216, 230, 0.114);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    overflow: hidden;
}

.post-comments{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 750px) {
    .post-card{
        padding: 0px;
    }
}
