.explore-peoples{
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.inner{
    width: 600px;
}

.split{
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    .inner{
        width: 100%;
    }
}