.title-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.title-section .title{
    font-size: 16px;
    font-weight: 600;
}

.nav-btn{
    font-size: 13px;
    cursor: pointer;
}