/* post body */
.title{
    margin: 10px 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.815);
}

.desc{
    margin: 5px 0;
    margin-bottom: 10px;
    color: rgb(86, 86, 86);
    letter-spacing: .3px;
    line-height: 22px;
}

.post-body .media img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.post-body .media video{
    width: 100%;
    max-height: 500px;
}