/* header */
.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile{
    display: flex;
    align-items: center;
    gap: 7px;
}

.post-header mat-icon{
    cursor: pointer;
    font-size: 20px;
}

.username{
    font-size: 13px;
    font-weight: 600;
    color: rgb(74, 74, 74);
}

.time{
    font-size: 13px;
}

.profile img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px 0;
}

/* more info  */
.more-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.issue{
    background-color: rgba(255, 0, 0, 0.56);
    border-radius: 20px;
    color: white;
    padding: 2px 10px;
    font-size: 12px;
}