.suggested-user{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: rgba(173, 216, 230, 0.114);
    padding: 5px 10px;
    border-radius: 10px;
}

.suggested-user:hover{
    /* border-radius: 10px;
    background-color: rgba(173, 216, 230, 0.283); */
}

.suggested-user .profile{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.suggested-user .profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(128, 128, 128, 0.483);
}

.follow{
    color: rgb(255, 107, 49);
    cursor: pointer;
}
