/* header */
.post-comment .header{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.profile{
    display: flex;
    align-items: center;
    gap: 7px;
}

.post-comment mat-icon{
    cursor: pointer;
    font-size: 20px;
}

.post-comment .desc{
    padding: 0;
    margin: 0;
    border-left: 1px solid rgba(128, 128, 128, 0.575);
    padding-left: 10px;
    margin-left: 12px;
    margin-bottom: 10px;
}

.username{
    font-size: 13px;
    font-weight: 600;
    color: rgb(74, 74, 74);
}

.time{
    font-size: 13px;
}

.profile img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px 0;
}

.verified{
    background-color: rgba(0, 128, 0, 0.414);
    padding: 2px 10px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .2px;
}